:root {
    --colorTint1: #a3b18a;
    --colorTint2: #588157;
    --colorTint3: #3a5a40;
    --colorTint4: #344E41;

    --background: #fff;

    --fontColor: #000;
}

@font-face
{
    font-family: Nunito;
    src: url(fonts/Nunito.ttf);
}

@font-face
{
    font-family: 'Open Sans Extra Bold';
    src: url(fonts/OpenSans-ExtraBold.ttf);
}

body
{
    background-color: var(--background);
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Open Sans Extra Bold';
}

p, label
{
    font-family: Nunito !important;
    font-size: 16px;
    margin-bottom: 0;
}

a
{
    color: var(--fontColor);
}

.btn.index
{
    background-color: var(--colorTint2);
    border-color: var(--colorTint2);
    color: var(--background);

    width: 40vw;
}

.btn.index:hover
{
    background-color: var(--colorTint1);
    border-color: var(--colorTint1);
    color: var(--background);
}

.btn.index:active
{
    background-color: var(--colorTint3) !important;
    border-color: var(--colorTint3) !important;
    color: var(--background) !important;
}

.sidebar
{
    color: var(--background);
}

.btn.sidebar
{
    border-color: var(--colorTint2);
    font-size: 25px;
}

.btn.sidebar:hover
{
    background-color: var(--colorTint1);
    border-color: var(--colorTint1);
}

.btn.sidebar:active
{
    background-color: var(--colorTint3) !important;
    border-color: var(--colorTint3) !important;
    color: var(--background);
}


.container.row
{
    margin-top: 10px;
    margin-bottom: 10px;

    text-align: center;
}

#sidebar
{
    position:relative;
    background-color: var(--colorTint2) !important;
    float: left;
}

h1.sidebar
{
    font-size: 30px;
}

.dashboardcontent
{
    display: inline-block !important;
}